<main class="page-template flex flex-col items-center justify-center text-center p-10">
  <h1 class="text-4xl font-bold mb-4">Bem-vindo ao TrafficVision</h1>
  <p class="text-lg mb-10">
    Nossa aplicação oferece uma visão completa e intuitiva dos dados de trânsito da sua cidade.
    Com ela, você pode visualizar, gerenciar e analisar informações de trânsito em tempo real.
  </p>
  <div class="flex gap-4">
    <a href="auth/dashboard" class="btn-primary">
      Ir para Dashboard
    </a>
    <a href="auth/ruas" class="btn-outline-secondary">
      Ver Ruas
    </a>
  </div>
</main>
