<main class="flex flex-col min-h-main-page w-full items-center">
  @defer (when ruas) {
  <section class="flex flex-wrap gap-4 justify-center p-4">
    @if(ruas.length > 0) {
    <app-bar-chart
      [ruas]="ruas"
      label="Volume Total de Tráfego"
      title="Volume Total de Tráfego por Rua -Últimas 4 Semanas"
    />
    <app-line-chart
      [ruas]="ruas"
      title="Volume de Tráfego por Semana"
      type="velocidade"
      chart_id="velocidade"
    />
    <app-line-chart
      [ruas]="ruas"
      title="Velocidade Média (km/h) por Semana"
      type="incidentes"
      chart_id="incidentes"
    />
    <app-line-chart
      [ruas]="ruas"
      title="Incidentes por Semana"
      type="trafego"
      chart_id="trafego"
    />
    } @else {
    <p>Não há dados para exibir</p>
    }
  </section>
  }@loading {
  <p>Carregando...</p>
  }

  <!-- @for (rua of ruas; track $index) {
  <p>{{ rua.nome }}</p>
  }@empty {
  <p>sem ruas</p>
  } -->
</main>
