<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-20">
  <app-rua-form (submitForm)="handleFormSubmit($event)" />
  <div class="bg-quaternary flex w-full justify-center">
    <div
      class="flex max-w-lg sm:flex-row flex-col justify-between gap-4 items-center h-full w-full p-2"
    >
      <h2 class="text-lg">Gerenciar Ruas</h2>
      <button class="btn-primary" (click)="openForm({ nome: '', id: null })">
        Adicionar
      </button>
    </div>
  </div>
  <table
    class="w-[90vw] max-w-screen-md text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead class="text-gray-800 uppercase bg-quaternary">
      <tr scope="row">
        <th scope="col" class="py-3 ps-3">{{ columns[0] }}</th>
        <th scope="col" class="flex py-3 ps-3 justify-center">
          {{ columns[1] }}
        </th>
      </tr>
    </thead>
    <tbody>
      @for(row of rows; track row){
      <tr
        class="border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          scope="row"
          class="flex items-center py-4 text-gray-700 dark:text-white"
        >
          <div class="ps-3">
            {{ row.nome }}
          </div>
        </th>
        <td class="py-2">
          <div class="flex justify-center items-center flex-col sm:flex-row">
            <a
              class="w-fit justify-center hover:bg-quaternary text-blue-400 flex items-center gap-1 shadow-md py-1 px-2 rounded-md"
              [href]="'/auth/ruas/' + row.id"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
                />
              </svg>
            </a>
            <button
              class="w-fit justify-center hover:bg-quaternary text-yellow-400 flex items-center gap-1 shadow-md py-1 px-2 rounded-md"
              (click)="openForm(row)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6"
              >
                <path
                  d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z"
                />
                <path
                  d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z"
                />
              </svg>
            </button>
            <button
              class="w-fit justify-center hover:bg-quaternary text-red-500 flex items-center gap-1 shadow-md py-1 px-2 rounded-md"
              (click)="deleteRua(row.id)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
@if(isLoading){
<app-loading />
}
