@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #404c8c;
  --secondary: #459cd9;
  --tertiary: #f49d27;
  --quaternary: #f4f4f4;
  --blue-gradient: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
}
