@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #404c8c;
  --secondary: #459cd9;
  --tertiary: #f49d27;
  --quaternary: #f4f4f4;
  --blue-gradient: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
  .btn-outline-secondary {
    @apply text-secondary inline-flex justify-center border-2 border-secondary  hover:bg-secondary hover:text-white focus:ring-1 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
    shadow-md;
  }
  .btn-primary {
    @apply text-white inline-flex justify-center bg-primary hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1 text-center dark:bg-blue-600 dark:hover:bg-primary dark:focus:ring-blue-800
    shadow-md;
  }
  .text-error {
    @apply text-red-500 text-xs;
  }
  .input-primary {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary;
  }
  .activeLink {
    @apply bg-gray-50 border;
  }
  .page-template {
    @apply flex min-h-main-page w-full justify-center;
  }
}
